@import url('https://fonts.googleapis.com/css?family=Rokkitt')
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css')

html
    font-size 62.5%
    font-color #666666
    background-color white
    letter-spacing 1px
    font-family Rokkitt, "Noto Sans Japanese"

*,
*::before,
*::after
  box-sizing border-box


// https://developer.mozilla.org/ja/docs/Learn/HTML/Forms/Styling_HTML_forms#Fonts_and_text
button, input, select, textarea
    font-family inherit
    font-size 100%

