@charset "UTF-8"

@import "../../static/reset.css"
@import "./_base"

.content-section
    width 100vw
    height 100vh

.header
    position relative

    > .page-navigator
        position fixed
        top 0
        left 0
        width 80px
        height 100vh

        font-size 3.6rem
        line-height 80px

        > .menu
            margin 80px 0
            display flex
            justify-content space-between

            > li
                display inline-block


