@charset "UTF-8"

@import "../../static/reset.css"
@import "./_base"

.background
    position relative

    &::before
        content ''
        display block
        position fixed
        top 0
        bottom 0
        left 0
        right 0
        background #ffffff url("../asset/background.png") no-repeat
        background-size cover
        z-index -2

    &::after
        content '\f101'
        font-family FontAwesome
        display block
        position fixed
        top calc(50% - 35px)
        right 10px

        width 70px
        height 70px
        border-radius 50%
        box-shadow 0 0 10px #333333

        font-size 4rem
        text-align center
        line-height 70px
        color #666666

        z-index 1


.content-section
    width 100vw
    height 100vh
    writing-mode vertical-rl
    position relative

    &::before
        content ''
        display block
        position absolute
        top 40px
        bottom 40px
        left 0
        right 0
        background-color rgba(255, 255, 255, .8)
        z-index -1

.container
    width calc(100vw - -280px)
    height calc(100vh - 120px)
    margin 60px 140px

.header
    position relative
    writing-mode vertical-rl
    z-index 1

    > .page-navigator
        position fixed
        top 0
        left 0
        width 80px
        height 100vh

        font-size 3.6rem
        line-height 80px

        > .menu
            margin 80px 0
            display flex
            justify-content space-between

            > li
                display inline-block
                cursor pointer
                position relative
                transition all .3s ease

                &:hover
                    opacity .5

                &.-active::before
                    content ''
                    display block
                    position absolute
                    right 10px
                    height 100%
                    border-right 3px solid #333333

#main
    position relative

    &.content-section::before
        display none

    > .title
        position absolute
        bottom 60px
        left 140px

        font-size 7.8rem
        letter-spacing 1px
        writing-mode initial
        width 300px

    > .lead
        position absolute
        top 60px
        right 140px

        font-size 11rem
        letter-spacing 12px
        line-height 14rem

#about
    > .container
        > .avatar-item
            > .avatar-image
                float left
                > img
                    width 240px
                    height 240px

            > .avatar-info
                margin-top 20px
                float left
                width 240px
                padding 0 calc((240px - 4.8rem - 10rem) / 2)

                > .position
                    font-size 4.8rem
                > .name
                    font-size  10rem

            &::after
                content ''
                display block
                clear both

        > .event-list
            margin 0 60px

            > .event-item
                margin-right 40px

                > .date
                    font-size 2.4rem
                > .event
                    margin-right 10px
                    font-size 4.4rem
